<h1 class="container-fluid text-center text-capitalize">{{title}}</h1>
<div class="container-fluid">
  <div class="col-lg-4">
    <!-- NgIf binding -->
    <hr>
    <h2 id="ngIf">NgIf Binding</h2>
    <div *ngIf="currentHero">Hello, {{currentHero.name}}</div>
    <div *ngIf="nullHero">Hello, {{nullHero.name}}</div>

    <!-- NgIf binding with template (no *) -->

    <ng-template [ngIf]="currentHero">Add {{currentHero.name}} with template</ng-template>

    <!-- Does not show because isActive is false! -->
    <div>Hero Detail removed from DOM (via template) because isActive is false</div>
    <ng-template [ngIf]="isActive">
     <div>hero detail</div>
    </ng-template>
  </div>
</div>