<h1 class="container-fluid text-center text-capitalize">{{title}}</h1>
<div class="container-fluid">
    <div class="col-lg-4">
        <div id="two-way-1">
            <my-sizer [(size)]="fontSizePx"></my-sizer>
            <div [style.font-size.px]="fontSizePx">Resizable Text</div>
            <label>FontSize (px): <input [(ngModel)]="fontSizePx"></label>
          </div>
          <div id="two-way-2">
            <h3>De-sugared two-way binding</h3>
            <my-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></my-sizer>
          </div>
</div>
</div>